<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>ToDoList</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header class="jumbotron jumbotron-fluid">
            <div class="container">
                    <h1 class="display-4 text-center font-weight-bold">Welcome to your to do list</h1>
            </div>
        </header>
        <a class="btn btn-primary btn-lg btn-block" href="/shared/" role="button">shared</a>
        <a class="btn btn-secondary btn-lg btn-block" href="/private/" role="button">private</a>
    </body>
</html>